
@import "../defaults/colors";
@import "../defaults/breakpoint";


header{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 30px;
    .logo{
        img{
            width: 150px;
        }
    }
    p{
        margin: 5px 0px 20px;
        font-size: 1em;
        color: $comp_color;
    }
    ul{
        margin: 0;
        padding: 0;
        display: flex;
        list-style-type: none;
        justify-content:space-evenly;
        li{
          margin: 0px 10px;
          font-size: .6em;
          a{
            text-decoration: none;
            color: $link_color;
          }
        }
    }
}